{% extends 'main/base.html' %}
{% block content%}
<h2 class="mb-3 text-center">EDIT DETAILS</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-4">
            <form class="form-group" method="POST" novalidate>
                {% csrf_token %}
                {% if form.errors%}
                    <div class="alert alert-warning" role="alert">
                         <strong>Your Form has errors</strong>
                        <button class="btn-close" data-bs-dismiss="alert">
                            <small><sup>x</sup></small>
                        </button>
                        {% for field in form%}
                            {% if field.errors%}
                            {{field.errors}}
                            {%endif%}
                        {%endfor%}
                    </div>
                {%endif%}
                {% for fm in form%}
                <div class="my-3">
                {{fm.label_tag}}{{fm}}<small class="text-danger">{{fm.errors|striptags}}</small>
                </div>
                {% endfor%}
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>

        </div>
    </div>
</div>
{%endblock%}